<h2>Création Hotel</h2>
<div>
    <form>
      <div class="form-group">
        <label  class="label">Email address</label>
        <input type="email" nbInput fullWidth  placeholder="Email">
      </div>
      <div class="form-group">
        <label  class="label">Password</label>
        <input type="password" nbInput fullWidth  placeholder="Password">
      </div>
      <div class="form-group">
        <label  class="label">Email address</label>
        <input type="email" nbInput fullWidth  placeholder="Email">
      </div>
      <div class="form-group">
        <label  class="label">Password</label>
        <input type="password" nbInput fullWidth  placeholder="Password">
      </div>
      <div class="form-group">
        <label  class="label">Email address</label>
        <input type="email" nbInput fullWidth  placeholder="Email">
      </div>
      <div class="form-group">
        <label  class="label">Password</label>
        <input type="password" nbInput fullWidth  placeholder="Password">
      </div>
      <button type="submit" nbButton fullWidth status="success" size="large">Submit</button>
    </form>
  </div>
